.parentcontainer{
    display: flex;
    align-items: center;
    height: 93vh;
    padding: 50px;
    background-color: #eee;
}
.content{
    width: 55%;
    margin-left: 15px;
    margin-right: 15px;
}
.content h1{
    font-size: 40px;
    font-family: 'Comfortaa', sans-serif;
    line-height: 1;
    letter-spacing: -1px;
    transform: scaleY(1.5);
    font-weight: 800;
}
.content p{
    margin-top: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
}
.content #discover{
    border-radius: 7px;
    background-color: black;
    color: white;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.pic{
    display: flex;
    align-items: center;
    width: 45%;
    padding: 40px;
}
.pic .keychain{
    margin-bottom: 30px;
    
}
/* .pic .stand2{
    
} */
.pic .stand{
    margin-left: 30px;
}
.pic .keychain img{
    width: 100%;
    border-radius: 35%;
}
.pic .stand2 img{
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.pic .stand img{
    width: 100%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

@media (max-width: 1100px){
.content h1 {
    font-size: 30px;
}
}
@media (max-width: 1000px){
    .pic {
        display: none;
    }
    .content{
        width: 100%;
    }
    }
    @media (max-width: 450px){
        .parentcontainer{
            padding: 10px;
        }
        }
    @media (max-width: 400px){
        .content h1 {
            font-size: 20px;
        }
        .content p {
            font-size: 14px;
        }
        }