@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.productParent{
    display: flex;
    
    justify-content: center;
    padding: 20px;
    height: 91vh;
    background-color: #eee;
}
.productParent .productGallery{
    overflow: hidden;
    width: 600px;
}
.productGalleryChild{
    width:60%;
    position: relative;
    
    top: 50%;
    left: 50%; 
     transform: translate(-50%, -50%);
}
.productParent .productDetail{
    
    width: 600px;
}
.productParent .productDetail .productDetailChild{
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%; 
     transform: translate(-50%, -50%);
}
.productParent .productGallery .productGalleryChild .productImg{
    width: 100%;
}
.productImg img{
    width: 100%;
}
.productGallery .productImgChild{
    display: flex;
    width: 100%;
}
.productImgChild img{
    width: 25%;
}
.productDetail .productDetailChild .productHeading{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 30px;
}
.productDetail .productDetailChild #productCaption{
    font-weight: 400;
    font-size: 19px;
    color: rgb(101, 101, 101);
}
.productDetail .productDetailChild #productPrice{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 30px;
}
.productDetail .productDetailChild #productPriceCut{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: rgb(101, 101, 101);
    margin-left: 10px;
}
.productDetail .productDetailChild #discountPercent{
    color: rgb(255, 64, 0);
    margin-left: 12px;
}
.productDetail .productDetailChild #tax{
    color: rgb(0, 151, 25);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.productDetail .productDetailChild #selectSize{
font-weight: 700;
font-size: 16px;
margin-top: 40px;
}


.productDetail .productDetailChild .size{
     display: flex;
}
.productDetail .productDetailChild .size .sizeS{
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
 
    margin: 4px;
}
.productDetail .productDetailChild .size .sizeS #s{
font-weight: 600;
}
.productDetail .productDetailChild .size .sizeS .productPriceInside{
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    }
.productDetail .productDetailChild .size .sizeS:hover{
color: rgb(255, 64, 0);
}
.productDetail .productDetailChild .buyCartbtn{
    
    margin-top: 20px;
}
.productDetail .productDetailChild #productCart{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border-width: 1px;
    font-weight: 500;
    color: black;
    background-color: rgb(244, 192, 192);
    box-shadow: rgba(255, 0, 123, 0.45) 0px 25px 20px -20px;
}
.productDetail .productDetailChild #productCart:active{
    background-color: rgb(240, 148, 162);
    color: white;
}
.productDetail .productDetailChild #productBuy{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    border-width: 1px;

    box-shadow: rgba(255, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgb(255, 64, 0);
}
.productDetail .productDetailChild #productBuy:active{
    background-color: rgb(228, 16, 16);
    color: #eee;
}

.productPriceInside{
    margin-bottom: 0;
}
#s{
    margin-bottom: 0;
}
.signParent{
    background-image: url(/src//component/gallery/login_background.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin{
    width:300px ;
    border-style: solid;
    border-color: #b0adadd3;
    border-width: 1px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ddd3d2d3;
}
.signin #account{
    width: 100%;
    text-align: center;
}
.signin .accountChild{
margin-top: 7px;
width: 100%;
}
.signin input{
    width: 100%;
    border-radius: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    background-color: #ddd3d200;
    border-color: rgb(0, 0, 0);
}
.signin input:focus{
    outline: none;
}
.signin label{
    font-weight: 500;
    font-size: 14px;
}
.signin button{
margin-top: 20px;
width: 100%;
border-radius: 7px;
color: aliceblue;
border-color: rgba(255, 64, 64, 0.955);
background-color: rgba(255, 64, 64, 0.955);
}
.signin #member{
    margin-top: 15px;
    margin-bottom: 0px;
}
.signin button:active{

    background-color: rgba(255, 0, 0, 0.877);
    }
.parentCart{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #eee;
    min-height: 92vh;
    max-height: fit-content;
}   
.parentCart #cartHead{
    /* width: 100%; */
    margin-bottom: 20px;
} 
.parentCart .cardHeadParent{
    display: flex;
    justify-content: space-between;
}
.parentCart .cardHeadParent #confiredorder{
    text-decoration: none;
    color: rgb(248, 66, 0);
    font-size: 20px;
}
.parentCart .childCart{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}
.parentCart .childCart #cartHeading{
    font-size: 18px;
    color: black;
    font-weight: 500;
    font-family: "Noto Serif", serif;
}
.parentCart .childCart #trash{
    width: 25px;
    cursor:pointer;
}
.parentCart #emptyCart{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.parentCart .bill{
    text-align: right;
    font-size: 25px;
    margin-right: 20px;
}
.parentCart #proceedPay{
    margin-top: 40px;
    width: 100%;
    padding: 13px;
    background-color: rgba(255, 0, 0, 0.625);
}
.parentCart .cod{
    margin-top: 20px;
}
.parentCart #cod{
    text-align: center;
    font-size: 20px;
}
.contactContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contactChild{
    width: 60%;
    text-align: center;
}
.contactChild .aboutus{
    margin-top: 20px;
}
.contactChild .aboutus #journey{
    margin-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    color: #616060;
}
.contactChild img{
    width: 100%;
}
.contactname, .emailcontact, .query{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contactnameinner{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.fname, .lname, .emailcontact, .query{
    text-align: left;
    
}
.fname,.lname{
    width: 250px;
}
.fname{
    margin-right: 20px;
}
.emailcontact .emailinner{
width: 60%;
}
.emailcontact #emailtext{
    width: 100%;
}
#fname, #lname{
    width: 100%;
}
.query{
    width: 100%;
}
.query .queryinner{
    width: 60%;
}
.query #querytext{
    width: 100%;
    height: 100px;
}
#contactsubmit{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 60%;
    color: white;
    background-color: rgba(255, 0, 0, 0.625);
    border-color: rgba(255, 0, 0, 0.625);
}
#contactsubmit:active{
    background-color: rgb(255, 0, 0);
}
#chat{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.792);
}
#instapic{
    width: 25px;
    margin-right: 20px;
}
#linkdin{
    width: 25px;
    margin-left: 20px;
}


@media (max-width:1100px){
    .productParent .productGallery{
    
        width: 490px;
    }
    .productParent .productDetail{
    
        width: 490px;
    }
    .productGalleryChild{
        width: 60%;
    }
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 15px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 10px;
            }
            .contactChild{
                width: 70%;
            }
            
}
@media (max-width:960px){
    .productParent .productGallery{
    
        width: 340px;
    }
    .productParent .productDetail{
    
        width: 440px;
    }
    .productGalleryChild{
        width: 100%;
    }
    .productParent .productDetail{
        width: 80%;
    }
    .contactChild{
        width: 80%;
    }
    /* #fname, #lname{
        width: 50%;
    } */
}
@media (max-width:830px){
    .productParent .productGallery{
    
        width: 550px;
    }

    .productParent .productDetail{
        width: 95%;
    }
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 11px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 9px;
            }
    .productDetail .productDetailChild .buyCartbtn #productCart{
        width: 100%;
     }
     .productDetail .productDetailChild #productBuy{
        width: 100%;
     }
}
@media (max-width:766px){
    .productParent{
        flex-wrap: wrap;
        height: auto;
    }
    .productParent .productGallery{
        width: 100%;
    }
    .productGalleryChild{
        width: 100%;
    }
    .productParent .productDetail{
        margin-top: 30px;
        width: 100%;
    }
    .productParent .productDetail .productDetailChild{
        width: 100%;
    }
    .productDetail .productDetailChild .size .sizeS{
        margin: 2px;
    }
    .productDetail .productDetailChild .size .sizeS #s{
    font-size: 12px;
    }
    .productDetail .productDetailChild .size .sizeS .productPriceInside{
        font-size: 10px;
        }
    .productDetail .productDetailChild #productBuy{
        margin-bottom: 50px;
     }
     .productDetail .productDetailChild .buyCartbtn #productCart{
        margin-left: 0px;
     }
     .productDetail .productDetailChild #productBuy{
        margin-left: 0px;
     }
}
@media (max-width:550px){
    .signParent{
        background-image: url(/src//component/gallery/login_background_mobile.jpg);

    }
    .parentCart{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        
        /* height: 92vh; */
    }   
    .parentCart .childCart #cartHeading{
        font-size: 16px;
        
    }
    .parentCart .bill{
       
        font-size: 20px;
        margin-right: 20px;
    }
    .contactChild{
        width: 90%;
    }
    .contactnameinner{
        width: 80%;
    }
    .emailcontact .emailinner{
        width: 80%;
    }
    .query .queryinner{
        width: 80%;
    }
    #contactsubmit{
       
        width: 80%;
    }

}
@media (max-width:359px){
    .productDetail .productDetailChild .size .sizeS #s{
        font-size: 9px;
        }
        .productDetail .productDetailChild .size .sizeS .productPriceInside{
            font-size: 10px;
            }
            .parentCart{
                
                padding-left: 6px;
                padding-right: 6px;
                
                /* height: 92vh; */
            }   
            .parentCart .childCart #cartHeading{
                font-size: 14px; 
            }    
            .parentCart #cod{
                
                font-size: 15px;
            }
}
